body, html {
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei"
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gameover {
    display: none;
    font-size: 36px;
    text-align: center;
    margin-top: 200px;
    margin-top: 30vh;
}

.gameover .score_div {
    font-size: 26px;
    margin-top: 10px;
}

.gameover .restart_btn {
    padding: 6px 10px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(220, 220, 220, 0.4);
    border: none;
    cursor: pointer;
}

.bg {
    width: 100%;
    height: 100%;
    background: #efefef;
    z-index: -100000;
}

.container {
    position: relative;
    display: block;
    z-index: 100;
}

.wall {
    position: absolute;
    background-image: url(../imgs/wall.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    box-sizing: border-box;
}

.box {
    -webkit-transition: left 0.2s, top 0.2s;
    transition: left 0.2s, top 0.2s;
    position: absolute;
    background: #fbd500;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url(../imgs/box.png);
}

.target {
    position: absolute;
    background-size: 50px 50px;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
    background: rgba(255, 218, 119, 1);
    box-sizing: border-box;
}

.person {
    transition: left 0.2s, top 0.2s;
    -webkit-transition: left 0.2s, top 0.2s;
    background-image: url(../imgs/person.png);
    width: 50px;
    height: 50px;
    position: absolute;
}

.person.up {
    background-position: -150px 0;
}

.person.right {
    background-position: -100px 0;
}

.person.down {
    background-position: 0px 0;
}

.person.left {
    background-position: -50px 0;
}

.score {
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 10000;
}

.score .wrapper {
    position: relative;
    text-align: center;
}

.score-wrapper {
    position: relative;
    top: 2px;
    margin-right: 4px
}

.score .buttons button {
    /*display: block;*/
    margin: 3px auto;
    font-size: 11px;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(220, 220, 220, 0.4);
    text-align: center;
    cursor: pointer;
}

.zoomSettings {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10000;
}

.zoomSettings .wrapper {
    position: relative;
    width: 120px;
    height: 60px;
}

.zoomSettings .zoomIn, .zoomSettings .zoomOut {
    width: 58px;
    height: 58px;
    margin: 1px;
    border-radius: 5px;
    position: absolute;
    box-sizing: border-box;
    font-size: 36px;
    background: rgba(170, 170, 170, 0.2);
    text-align: center;
    cursor: pointer;
    opacity: 0.6;
}

.zoomSettings span {
    -webkit-user-select: none;
    height: 58px;
    line-height: 58px;
}

.zoomSettings .zoomIn {
    top: 0;
    left: 0;
}

.zoomSettings .zoomOut {
    top: 0;
    left: 60px;
}

.joystick {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    bottom: 10px;
    z-index: 10000;
}

.joystick .wrapper {
    position: relative;
    width: 240px;
    height: 160px;
}

.joystick .up, .joystick .down, .joystick .left, .joystick .right, .joystick .undo, .joystick .restart {
    width: 78px;
    height: 78px;
    margin-top: 1px;
    margin-left: 1px;
    border-radius: 5px;
    position: absolute;
    box-sizing: border-box;
    font-size: 40px;
    background: rgba(170, 170, 170, 0.2);
    text-align: center;
    cursor: pointer;
    opacity: 0.6;
    display: table;
}

.joystick .up span, .joystick .down span, .joystick .left span, .joystick .right span, .joystick .undo span, .joystick .restart span {
    display: table-cell;
    vertical-align: middle;
}

.joystick span {
    -webkit-user-select: none;
}

.joystick .up {
    top: 0;
    left: 80px;
}

.joystick .undo {
    top: 0;
    font-size: 22px;
    left: 0;
}

.joystick .restart {
    top: 0;
    font-size: 18px;
    left: 160px;
}

.joystick .down {
    top: 80px;
    left: 80px;
}

.joystick .left {
    top: 80px;
    left: 0;
}

.joystick .right {
    top: 80px;
    left: 160px;
}
